@media screen and (max-width: 1199px) {
  .post_data {
    margin: auto;
    padding: 10px;
  }

  .post_title {
    margin: auto;
    top: 160px;
    font-size: 20px;
    font-weight: bold;
  }

  .post_type {
    margin: auto;
    top: 190px;
    color: #89959b;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .post_cost {
    margin: auto;
    top: 210px;
    color: #89959b;
    font-size: 15px;
  }

  .post_time {
    margin: auto;
    font-size: 15px;
  }

  .post_payment {
    margin: auto;
    font-size: 15px;
  }

  .post_rating {
    margin-top: 10px;
    background-color: #3f7e00;
    text-align: center;
    padding: 0px 5px;
    border-radius: 5px;
    font-size: 20px;
    color: #ffffff;
  }

  .post_views {
    margin: auto;
    position: absolute;
    bottom: 25px;
    font-size: 15px;
    color: #89959b;
  }

  .post_reviews {
    margin: auto;
    position: absolute;
    bottom: 5px;
    font-size: 15px;
    color: #89959b;
  }

  .review_name {
    margin: auto;
    padding: 5px 0px;
    font-size: 20px;
  }

  .review_city {
    margin: auto;
    font-size: 15px;
    color: #898989;
  }

  .review_open {
    font-size: 15px;
    color: green;
  }

  .review_type {
    color: red;
  }

  .review_rates {
    margin: auto;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    background-color: #3f7e00;
    width: 100%;
    border-radius: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .login_button:hover {
    border-radius: 3px;
    background-color: #d94148;
  }

  .create_button {
    border-radius: 3px;
    background-color: #ba1e2b;
    color: #ffffff;
  }

  .create_button:hover {
    background-color: #d94148;
  }

  .post {
    position: relative;
  }

  .post_data {
    margin: auto;
    padding: 10px;
  }

  .post_title {
    margin: auto;
    font-size: 25px;
    font-weight: bold;
  }

  .post_type {
    margin: auto;
    color: #89959b;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .post_cost {
    margin: auto;
    color: #89959b;
    font-size: 15px;
  }

  .post_time {
    margin: auto;
    font-size: 15px;
  }

  .post_payment {
    margin: auto;
    font-size: 15px;
  }

  .post_rating {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #3f7e00;
    padding: 0px 5px;
    border-radius: 5px;
    font-size: 20px;
    color: #ffffff;
  }

  .post_views {
    position: absolute;
    top: 50px;
    right: 10px;
    font-size: 15px;
    color: #89959b;
  }

  .post_reviews {
    position: absolute;
    top: 70px;
    right: 10px;
    font-size: 15px;
    color: #89959b;
  }

  .review1 {
    margin: 20px;
    text-align: center;
    border-radius: 5px;
    background-color: #f3f3f3;
  }

  .review_name {
    margin: auto;
    padding: 5px 0px;
  }

  .review_city {
    margin: auto;
    color: #898989;
  }

  .review_open {
    color: green;
  }

  .review_type {
    color: red;
  }

  .review_rating {
    text-align: right;
    position: relative;
  }

  .review_rates {
    position: absolute;
    bottom: 70px;
    right: 0px;
    color: #ffffff;
    font-size: 30px;
    background-color: #3f7e00;
    padding: 10px 15px;
    border-radius: 5px;
  }
}

#navigation {
  margin: auto;
  background-color: #cb202d;
  padding: 0px 20px;
}

.account {
  width: 100%;
}

#background {
  background-color: #ebebe0;
}

#logo {
  color: #ffffff;
  font-weight: bolder;
  font-size: 30px;
  font-style: italic;
}

#login_button {
  color: #ffffff;
}

#create_button {
  border-color: #ba1e2b;
  background-color: #ba1e2b;
}

.cols {
  padding: 15px;
}

.cards {
  padding: 10px;
}

.card_footer {
  background-color: #ffffff;
}

.order_button {
  float: right;
}

img {
  padding: 10px;
  max-width: 150px;
  max-height: 150px;
  border-radius: 5px;
}

#register1 {
  margin: 30px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #ebebe0;
}

#register2 {
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #ffffff;
}

.restaurant_text {
  padding: 5px;
  color: #89959b;
}

#restaurant_button {
  width: 100%;
}

#register3 {
  margin: 80px auto;
  border-radius: 5px;
  background-color: #ffffff;
}

.registration_text {
  padding: 5px;
  font-size: 20px;
}

#register_button {
  background-color: #cb202d;
  border-color: #cb202d;
  padding: 10px 30px;
  font-size: 20px;
  width: 100%;
}

#register4 {
  margin: 100px auto;
  border-radius: 5px;
  background-color: #ffffff;
}

#login_field {
  padding: 25px;
}

#signin_button {
  background-color: #cb202d;
  border-color: #cb202d;
  padding: 10px 30px;
  font-size: 20px;
  width: 100%;
}

.terms {
  font-size: 15px;
  color: #89959b;
}

.review_image {
  padding: 10px 0px;
  max-width: 1800px;
  max-height: 600px;
}

.review_data {
  position: relative;
  text-align: left;
  padding: 10px 0px;
}

.review_photo {
  margin: auto;
  padding: 10px 0px;
  border-radius: 50%;
  max-height: 100px;
  max-width: 100px;
}

.reviewer_name {
  margin: auto;
  font-size: 20px;
  padding: 10px 0px 0px 100px;
  text-align: left;
}

.reviewer_reviews {
  margin: auto;
  font-size: 13px;
  color: #89959b;
  padding-left: 100px;
  text-align: left;
}

.review_follows {
  position: relative;
}

.reviewer_follow {
  position: absolute;
  left: 100px;
  font-size: 10px;
  color: #ffffff;
  background-color: #898989;
  padding: 2px 5px;
  border-radius: 5px;
  text-align: left;
}

.reviewer_follow:hover {
  padding: 3px 6px;
  color: #ffffff;
  text-decoration: none;
}

.reviewer_rate {
  font-size: 15px;
}

.review_time {
  position: relative;
}

.reviewer_time {
  position: absolute;
  left: 100px;
  font-size: 13px;
  color: #898989;
}

.reviewer_rating {
  margin: auto;
  background-color: green;
  color: #ffffff;
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 5px;
}

.reviewer_review {
    text-align: left;
  font-size: 12px;
}
 
.reviewer_adds{
    margin: 5px 0px 15px 0px;
    float: left;
}

.review_like {
  display: inline;
  padding: 6px 0px;
  border: 1px solid #e0e1e2;
  border-radius: 5px;
  background-color: #e0e1e2;
  font-size: 12px;
  cursor: pointer;
}

.like_count {
  border-radius: 0px 5px 5px 0px;
  background-color: #ffffff;
  padding: 6px 3px;
}

.review_comment {
  display: inline;
  border-radius: 5px;
  padding: 6px 0px;
  border: 1px solid #e0e1e2;
  background-color: #e0e1e2;
  font-size: 12px;
  cursor: pointer;
}

.comment_count {
  border-radius: 0px 5px 5px 0px;
  background-color: #ffffff;
  padding: 6px 3px;
}

.review_share {
  display: inline;
  padding: 6px 0px;
  border: 1px solid #e0e1e2;
  border-radius: 5px;
  background-color: #e0e1e2;
  font-size: 12px;
  cursor: pointer;
}

.share_count {
  border-radius: 0px 5px 5px 0px;
  background-color: #ffffff;
  padding: 6px 3px;
}

#review_button{
    margin: 10px 0px;
    float: left;
}

.post_title a{
    color: #cb202d;
    text-decoration: none;
}

.post_title a:hover{
    color: #cb202d;
    text-decoration: none;
}